.container {
  padding: 0 0 1em 0;
  margin-top: 0.5em;
  width: 282px;
  max-width: 282px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}

.capa {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {
  width: 25px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--preto);
  text-align: left;
}
